%nav.sideNav--big__nav
  %header.sideNav__header
    .sideNav__label Path
    .sideBar__heading Design Fundamentals

  .sideNav__label Units
  %ul.sideNav__list
    %li.sideNav--big__item
      = sideNav_link_to "HTML Basics", "#"
    %li.sideNav--big__item
      = sideNav_link_to "CSS Basics", "#"
    %li.sideNav--big__item
      = sideNav_link_to "Grid Systems", "#"
    %li.sideNav--big__item
      = sideNav_link_to "Colors", "#"
    %li.sideNav--big__item
      = sideNav_link_to "Typograhy", "#"
